<h1>Employees!</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.salary}}</td>
            <td>{{employee.age}}</td>
            <td>
                    <button type="submit" *ngIf="!active" (click)="editEmployee(employee.id)">Edit</button>
                    <button class="btn btn-primary" type="submit" routerLink="/employees"  (click)="deleteEmployee(employee.id)">Delete</button>
            </td>


        </tr>
        <tr *ngIf="active" [formGroup]="editEmployeeForm">
                <app-loader #loader></app-loader>
                <td>
                    ID - {{employee.id}}
                </td>
                <td>
                    <input type="text"  formControlName="name">
                </td>
                <td>
                    <input type="text"  formControlName="salary">
                </td>
                <td>
                    <input type="text"  formControlName="age">
                </td>
                <td>
                    <button class="btn btn-primary" type="submit" routerLink="/employees/{{employee.id}}"  (click)="editEmployee(editEmployeeForm.value)">Submit</button>
                </td>
        </tr>
    </tbody>
</table>
<app-loader #loader></app-loader>