 <h2>Exchange</h2>
<form [formGroup]="form" class="main">

    <select formControlName="currency1" (change)="onChangeCurrency(form.value.currency1)">
     
      <option *ngFor="let currency of currencies" [ngValue]="currency">{{currency}}</option>
    </select>
    <input type="text" formControlName="input1" (keyup)="onChange1($event.target.value)">
    <select formControlName="currency2" (change)="onChangeBase(form.value.currency2)">
     
      <option *ngFor="let currency of currencies" [ngValue]="currency">{{currency}}</option>
    </select>
    <input type="text" formControlName="input2" (keyup)="onChange2($event.target.value)">
  
  </form>
  
