<a [routerLink]="['/']">
    <h1>My Store</h1>
</a>
<div >
<a [routerLink]="['/cart']" class="button fancy-button">
    <i class="material-icons">shopping_cart</i>
    Checkout
</a>

<a [routerLink]="['/wishlist']" class="button fancy-button">
    <i class="material-icons">shopping_cart</i>
    Wish list
</a>

<a [routerLink]="['/currency']" class="button fancy-button">
    <i class="material-icons">shopping_cart</i>
    Currency
</a>

<a [routerLink]="['/task']" class="button fancy-button">
    <i class="material-icons">shopping_cart</i>
    task-1
</a>
</div>
