<a [routerLink]="['/']">
    <h1>My Store</h1>
</a>
<div >
<a [routerLink]="['/cart']" class="button fancy-button">
    <i class="material-icons">shopping_cart</i>
    Checkout
</a>

<a [routerLink]="['/wishlist']" class="button fancy-button">
    <i class="material-icons">shopping_cart</i>
    Wish list
</a>

<a [routerLink]="['/currency']" class="button fancy-button">
    <i class="material-icons">shopping_cart</i>
    Currency
</a>

<a [routerLink]="['/exchange']" class="button fancy-button">
    <i class="material-icons">shopping_cart</i>
    exchange
</a>

<a [routerLink]="['/dashboard']" class="button fancy-button">
    <i class="material-icons">shopping_cart</i>
    Dashboard
</a>
</div>

<a [routerLink]="['/guard']" class="button fancy-button">
    Guard
</a>
<a [routerLink]="['/forms']" class="button fancy-button">
    Register
</a>
<a [routerLink]="['/users']" class="button fancy-button" *ngIf="access">
    Users
</a>

<a [routerLink]="['/login']" class="button fancy-button" >
   
    Login
</a>

<a [routerLink]="['/login']" class="button fancy-button" *ngIf="access" (click)="logout()">
   
    Logout
</a>
